:root {
  --white: #ffffff;
  --black: #0f0f0f;
  --teal: #0eb1b1;
  --light-teal: rgb(14 177 177 / 10%);
  --gray: #7e7e7e;
  --orange: #ff7043;
  --light-orange: rgb(255 112 67 / 20%);
  --green: #85d300;
  --light-green: rgb(133 211 0 / 15%);
  --main-shadow: 0 0 7px 5px rgb(0 0 0 / 7%);
  --border-color: #e1e1e1;
}
